body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 80%;
}
div#searchBox, div#listBox {
   margin: 0.25em auto;
   background-color: #EBF4FB;
   padding: 1em;
   border: 1pt solid #95BEF0;
   width: 80%;
}
div#searchBox { margin-top: 1em;}
div#listBox {
   margin-top: 1em;
   background-color: #FAFCFF;
   }
   
table {
   border: collapse;
   border-spacing: 0;
   width: 100%;
   height: 100%;
}

table tbody td{
   border-top: 1pt solid #95BEF0;
   line-height: 1.5em;
   vertical-align: middle;
   padding: 0.5em 0.75em;
}
table thead th {
   text-align: left;
   padding: 0.25em 0.75em;
}
table thead {
   background-color: #EBF4FB ;
}
table tbody td:first-child  {
   text-align: center;
   padding: 0.5em 0em;
}